{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <title>Hera & Yovan</title>
    <meta charset='utf-8' />

    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,400" rel="stylesheet">
    <link href="{% static 'css/reception.css' %}" rel="stylesheet">
</head>

<body>
    <div class="landing">
        <img class="lg-img" src="https://pre00.deviantart.net/b03f/th/pre/i/2010/059/1/0/wedding_12_by_kechake_stock.jpg" width="100%">
        <p class="title">Hera & Yovan</p>
        <p id="demo"></p>
    </div>

    <div class="story">
        <fieldset>
            <legend class="story-title">The Story of Us</legend>
            <div class="story-text">
                <p>Id illum impetus expetendis pri, melius admodum placerat ius cu. Ei eirmod oportere mei, mei nisl esse signiferumque
                    te. Rebum delenit vituperatoribus sit ex, pro commodo postulant te. His stet accusam gloriatur te, eu
                    putant tritani persecuti quo, his ex mucius reformidans. Semper hendrerit eos et, nec id choro ubique
                    voluptatibus.
                </p>
                <p>
                    Quo et magna porro, dicat alterum cotidieque ut eos. Nam magna suscipit perfecto ne, an sale dicam impedit vis. Habeo libris
                    efficiendi ei vis. At nibh nominati nam. Vide legendos consetetur his ea.
                </p>
                <p>Id illum impetus expetendis pri, melius admodum placerat ius cu. Ei eirmod oportere mei, mei nisl esse signiferumque
                    te. Rebum delenit vituperatoribus sit ex, pro commodo postulant te. His stet accusam gloriatur te, eu
                    putant tritani persecuti quo, his ex mucius reformidans. Semper hendrerit eos et, nec id choro ubique
                    voluptatibus.
                </p>
                <p>
                    Quo et magna porro, dicat alterum cotidieque ut eos. Nam magna suscipit perfecto ne, an sale dicam impedit vis. Habeo libris
                    efficiendi ei vis. At nibh nominati nam. Vide legendos consetetur his ea.
                </p>
                <p>Id illum impetus expetendis pri, melius admodum placerat ius cu. Ei eirmod oportere mei, mei nisl esse signiferumque
                    te. Rebum delenit vituperatoribus sit ex, pro commodo postulant te. His stet accusam gloriatur te, eu
                    putant tritani persecuti quo, his ex mucius reformidans. Semper hendrerit eos et, nec id choro ubique
                    voluptatibus.
                </p>
            </div>
        </fieldset>
    </div>

    <div class="calendar">
        <p>
            Sunday, 22 July 2018
            <br> Binakarna Auditorium, Bidakara Building
        </p>
        <span>
            <a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=Yzh0YzVudWVoZWM0dDdmbTVkYjRnaDVpczhfMjAxODA3MjJUMTIwMDAwWiByYWhtYW5pYWFtMjZAbQ&amp;tmsrc=rahmaniaam26%40gmail.com&amp;scp=ALL">
                Add
            </a>
            the wedding to your google calendar!
        </span>
    </div>

    <div id="map"></div>
</body>

<script src="{% static 'js/countdown.js' %}"></script>
<script src="{% static 'js/maps.js' %}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyK-gR_wVlDvmBa8_FpK5ylSJccxh3IKc&callback=initMap"></script>

</html>