
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: none;

	font-family: 'scriptinaregular', serif;
	font-weight: 100;
	color: #aa8a59;
}

.body {
	display: grid;
	grid-template-columns: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style-type: none;
}

/* first big div */
.landing {
	height: 100vh;
	position: relative;
	overflow: hidden;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

.lg-img {
	/* opacity: 0.5; */
	position: relative;
    width: 100vw;
}

#third-photo {
    /* top: -10%;
    transform: translateY(-10%); */
} 

.slide {
	position: relative;
}

.slide img {
    object-fit: cover;
}

.title {
	position: absolute;
	top: 85%;
	left: 50%;
	-webkit-transform: translate(-50%, -85%);
	   -moz-transform: translate(-50%, -85%);
	    -ms-transform: translate(-50%, -85%);
	     -o-transform: translate(-50%, -85%);
			transform: translate(-50%, -85%);
	
	font-size: 2.5rem;
	padding-bottom: 6rem; 
}

#demo {
	width: auto;
	border: 5px solid #aa8a59;
	position: absolute;
	top: 90%;
	left: 50%;
	-webkit-transform: translate(-50%, -90%);
	   -moz-transform: translate(-50%, -90%);
	    -ms-transform: translate(-50%, -90%);
	     -o-transform: translate(-50%, -90%);
	        transform: translate(-50%, -90%);

    font-size: 1.5rem;
	text-align: center;
	padding: 1.5rem ;
}

.slick-slider {
	position: absolute;
}

/* second big div */
.story {
	position: relative;
	color: #ad974f;
} 

fieldset {
	min-height: 100vh;
	margin: 2rem;
	margin-top: 0;
	border: 2px solid #8e793e;
}

.story-title {
	text-align: center;
	font-size: 4rem;
}

.story-text {
	padding: 2rem;
	font-size: 2rem;
}

/* third big div */
.calendar {
	display: grid;
	justify-content: center;
	align-content: center;

	background-color: #8e793e;
	color: #fff;

	height: 50vh;
	font-size: 2.5rem;
	text-align: center;
}

/* fourth big div */
.rsvp-container {
	position: relative;
	text-align: center;
	font-size: 3rem;
	padding: 2rem;
}

form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

input {
	max-width: 300px;
	height: 2rem;
	margin: 0.6rem auto;
}

input[type=text], input[type=email] {
	min-width: 30%;
	border-radius: 10px;
	padding: 0.7rem;
	font-size: 1.5rem;
	border: 1px thin #333333;
}

input[type=radio] + label {
	margin: 0;
	clear: none;
}

input[type=submit] {
	height: 3rem;
	min-width: 30%;
	border: none;
	border-radius: 10px;
	width: 100%;
	font-size: 1.5rem;
	padding: 0.7rem;
	background-color: #8e793e;
	color: #fff;
}

/*fifth big div */

.map-container {
	text-align: center;
	max-height: 100vh;

	background-color: #8e793e;
	color: #fff;
}

.map-title, {
	font-size: 3rem;
	padding: 2rem 0;
}

#map {
	height: 30rem;
	width: 50%;
	margin: 1rem auto;
}

.ann-title {
	font-size: 3rem;
	margin: 0 auto;
}

.ann-desc {
	font-size: 2rem;
	width: 50%;
	padding: 3rem auto;
	margin: 0 auto;
}