{% extends "message/layout/base.html" %}

{% block content %}

<div class="form-web">
	<form id="form" method="POST" action="{% url 'message:add_surat' %}">
	<h2>Menulis sesuai keinginan</h2>
	{% csrf_token %}
	{{ surat_form }}
	<input id="submit" type="submit" class="input-btn" value="Submit">
	</form>	
</div>

<div class="posts">
	{% if surat %}
		{% for post in surat reversed %}
			<div class="contain-surat">
				<div class="surat-dari">
					Dari: {{post.dari}}
				</div>
				<div class="surat-untuk">
					Untuk: {{post.untuk}}
				</div>
				<div class="surat-pesan">
					{{post.pesan}}
				</div>
				<a href="/message/delete_surat/{{ post.id }}">
					<div class="post-delete">
						Hapus
					</div>
				</a>
			</div>
		{% endfor %}
	{% else %}
		<div class="no-posts">
			Wadaw! Kasihan tidak ada yang menulis:(
		</div>
	{% endif %}
</div>


{% endblock %}
